max_execution_time = {{ var_max_execution_time }}
memory_limit = {{ var_memory_limit }}
post_max_size = {{ var_post_max_size }}
upload_max_filesize = {{ var_upload_max_filesize }}
max_input_time = {{ var_max_input_time }}
max_input_vars = {{ var_max_input_vars }}
date.timezone = {{ var_date_timezone }}